.right
  .right__header
    .right__header__name
      group name
      .right__header__name__member
        member kun
    .right__header__edit
      = link_to "Edit", "#", class: "right__header__edit--link"
  .right__main
  .right__footer