.right__main__box{data: {message: {id: message.id}}}
  .right__main__namebox
    .right__main__namebox__name
      = message.user.name
    .right__main__namebox__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .right__main__message
    - if message.content.present?
      %p
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
    