.right__main__namebox
  .right__main__namebox__name
    = message.user.name
  .right__main__namebox__date
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
.right__main__message
  - if message.content.present?
    %p
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
  
-# .right__main__namebox
-#   .right__main__namebox__name
-#     test kun
-#   .right__main__namebox__date
-#     2020/03/02
-# .right__main__message
-#   kontiwa