= form_for @group do |f|
  = f.text_field :name, class: "chat-group-form__input", placeholder: "グループ名"
  = f.collection_check_boxes  :user_ids, User.all, :id, :name
  = f.submit "Save", class: "chat-group-form__action-btn"